        <!-- Start Gallery Area -->
        <section class="gallery-area pt-100 pb-100">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-6 col-md-6">
                        <div class="single-gallery-box">
                            <div class="gallery-image">
                                <a href="#"><img src="/img/gallery/gallery-1.jpg" alt="image"></a>
                            </div>
                            
                            <div class="gallery-content">
                                <h3>
                                    <a href="shop-details.html">Seasoned Tomatoes</a>
                                </h3>
                                <span>Farming</span>
                            </div>
                        </div>
                    </div>
                    
                    <div class="col-lg-6 col-md-6">
                        <div class="single-gallery-box">
                            <div class="gallery-image">
                                <a href="#"><img src="/img/gallery/gallery-2.jpg" alt="image"></a>
                            </div>
                            
                            <div class="gallery-content">
                                <h3>
                                    <a href="#">Fresh Organic Milk</a>
                                </h3>
                                <span>Food</span>
                            </div>
                        </div>
                    </div>
                    
                    <div class="col-lg-4 col-md-6">
                        <div class="single-gallery-box">
                            <div class="gallery-image">
                                <a href="#"><img src="/img/gallery/gallery-3.jpg" alt="image"></a>
                            </div>
                            
                            <div class="gallery-content">
                                <h3>
                                    <a href="#">Veterinary Research</a>
                                </h3>
                                <span>Cultivation</span>
                            </div>
                        </div>
                    </div>
                    
                    <div class="col-lg-4 col-md-6">
                        <div class="single-gallery-box">
                            <div class="gallery-image">
                                <a href="#"><img src="/img/gallery/gallery-4.jpg" alt="image"></a>
                            </div>
                            
                            <div class="gallery-content">
                                <h3>
                                    <a href="#">Fresh Vegetables</a>
                                </h3>
                                <span>Agriculturist</span>
                            </div>
                        </div>
                    </div>
                    
                    <div class="col-lg-4 col-md-6">
                        <div class="single-gallery-box">
                            <div class="gallery-image">
                                <a href="#"><img src="/img/gallery/gallery-5.jpg" alt="image"></a>
                            </div>
                            
                            <div class="gallery-content">
                                <h3>
                                    <a href="#">Fresh Strawberry</a>
                                </h3>
                                <span>Fresh Food</span>
                            </div>
                        </div>
                    </div>
                    
                    <div class="col-lg-12 col-md-12">
                        <div class="pagination-area">
                            <a href="#" class="prev page-numbers">
                                <i class="flaticon-left-arrow"></i>
                            </a>
                            <a href="#" class="page-numbers">1</a>
                            <span class="page-numbers current" aria-current="page">2</span>
                            <a href="#" class="page-numbers">3</a>
                            <a href="#" class="page-numbers">4</a>
                            <a href="#" class="next page-numbers">
                                <i class="flaticon-right-arrow"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- End Gallery Area -->