       <!-- Start Pricing Area -->
       <section class="pricing-area pb-70">
        <div class="container">
            <div class="section-title">
                <h2>Pricing Plan</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua quis ipsum suspendisse</p>
            </div>
            
            <div class="row">
                <div class="col-lg-4 col-md-6 col-sm-6">
                    <div class="single-pricing-box">
                        <div class="pricing-header">
                            <h3>Basic Plan</h3>
                        </div>
                        
                        <div class="price">
                            $60 <span>Weekly</span>
                        </div>
                        
                        <ul class="pricing-features">
                            <li>
                                <i class='bx bx-check'></i>
                                Cherry Tomatoes
                            </li>
                            <li>
                                <i class='bx bx-check'></i>
                                Imported Snap Peas
                            </li>
                            <li>
                                <i class='bx bx-check'></i>
                                Cucumbers
                            </li>
                            <li>
                                <i class='bx bx-check'></i>
                                White Potatoes
                            </li>
                            <li>
                                <i class='bx bx-check'></i>
                                Organic Vegetables
                            </li>
                            <li>
                                <i class='bx bx-check'></i>
                                Unlimited Creative Ideas
                            </li>
                        </ul>
                        
                        <div class="pricing-btn">
                            <a href="#" class="default-btn">
                                Purchase Plan
                            </a>
                        </div>
                    </div>
                </div>
                
                <div class="col-lg-4 col-md-6 col-sm-6">
                    <div class="single-pricing-box">
                        <div class="pricing-header">
                            <h3>Standard Plan</h3>
                        </div>
                        
                        <div class="price">
                            $149 <span>Monthly</span>
                        </div>
                        
                        <ul class="pricing-features">
                            <li>
                                <i class='bx bx-check'></i>
                                Cherry Tomatoes
                            </li>
                            <li>
                                <i class='bx bx-check'></i>
                                Imported Snap Peas
                            </li>
                            <li>
                                <i class='bx bx-check'></i>
                                Cucumbers
                            </li>
                            <li>
                                <i class='bx bx-check'></i>
                                White Potatoes
                            </li>
                            <li>
                                <i class='bx bx-check'></i>
                                Organic Vegetables
                            </li>
                            <li>
                                <i class='bx bx-check'></i>
                                Unlimited Creative Ideas
                            </li>
                        </ul>
                        
                        <div class="pricing-btn">
                            <a href="#" class="default-btn">
                                Purchase Plan
                            </a>
                        </div>
                    </div>
                </div>
                
                <div class="col-lg-4 col-md-6 col-sm-6">
                    <div class="single-pricing-box">
                        <div class="pricing-header">
                            <h3>Premium Plan</h3>
                        </div>
                        
                        <div class="price">
                            $179 <span>Yearly</span>
                        </div>
                        
                        <ul class="pricing-features">
                            <li>
                                <i class='bx bx-check'></i>
                                Cherry Tomatoes
                            </li>
                            <li>
                                <i class='bx bx-check'></i>
                                Imported Snap Peas
                            </li>
                            <li>
                                <i class='bx bx-check'></i>
                                Cucumbers
                            </li>
                            <li>
                                <i class='bx bx-check'></i>
                                White Potatoes
                            </li>
                            <li>
                                <i class='bx bx-check'></i>
                                Organic Vegetables
                            </li>
                            <li>
                                <i class='bx bx-check'></i>
                                Unlimited Creative Ideas
                            </li>
                        </ul>
                        
                        <div class="pricing-btn">
                            <a href="#" class="default-btn">
                                Purchase Plan
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End Pricing Area -->
    