<%- include('parts/header') %>
<%- include('parts/navbar') %>

       <!-- Start Page Banner -->
       <div class="page-banner-area item-bg1">
        <div class="d-table">
            <div class="d-table-cell">
                <div class="container">
                    <div class="page-banner-content">
                        <h2>Gallery Details</h2>
                        <ul>
                            <li>
                                <a href="/">Home</a>
                            </li>
                            <li>Gallery Details</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Page Banner -->

    <!-- Start Gallery Details Area -->
    <section class="gallery-details-area pt-100 pb-70">
        <div class="container">
            <div class="row">
                <div class="col-lg-8">
                    <div class="gallery-details-image">
                        <img src="/img/gallery-details.jpg" alt="gallery">
                    </div>

                    <div class="gallery-details-desc">
                        <h3>We Ensure to Provide 100% Organic Food</h3>
                        <p>Lorem ipsum dolor sit amet, conse cte tuer adipiscing elit, sed diam no nu m nibhie eui smod. Facil isis atve eros et accumsan etiu sto odi dignis sim qui blandit praesen lup ta de er. At molestiae appellantur pro. Vis wisi oportere per ic ula ad, ei latine prop riae na, mea cu purto debitis.</p>

                        <div class="features-text">
                            <h4><i class='bx bx-check'></i> How can take our food</h4>
                            <p>No fake products and services. The customer is king their lives and needs are the inspiration.</p>
                        </div>
                        <div class="features-text">
                            <h4><i class='bx bx-check'></i> Why we success organic farming</h4>
                            <p>No fake products and services. The customer is king their lives and needs are the inspiration.</p>
                        </div>
                        <div class="features-text">
                            <h4><i class='bx bx-check'></i> History of our festival vegetables</h4>
                            <p>No fake products and services. The customer is king their lives and needs are the inspiration.</p>
                        </div>
                        <div class="features-text">
                            <h4><i class='bx bx-check'></i> Natural Fresh Tomato</h4>
                            <p>No fake products and services. The customer is king their lives and needs are the inspiration.</p>
                        </div>

                        <h3>Why we Provide Vegetables & Food</h3>
                        <p>Nost rud no eos, no impedit dissenti as mea, ea vide labor amus neglegentur vix. Ancillae intellegat vix et. Sit causae laoreet nolu ise. Ad po exerci nusquam eos te. Cu altera expet enda qui, munere oblique theo phrastu ea vix. Ne nec modus civibus modera tius, sit ei lorem doctus. Ne docen di verterem reformidans eos. Cu altera expetenda qui munere oblique theophr astus ea vix modus civiu mod eratius.</p>

                        <h4>Our Process</h4>
                        <p>Lorem ipsum dolor sit amet, conse cte tuer adipiscing elit, sed diam no nu m nibhie eui smod. Facil isis atve eros et accumsan etiu sto odi dignis sim qui blandit praesen lup ta de er. At molestiae appellantur pro. Vis wisi oportere per ic ula ad, ei latine prop riae na, mea cu purto debitis.</p>
                    </div>
                </div>

                <div class="col-lg-4 col-md-12">
                    <div class="gallery-details-information">
                        <ul>
                            <li>
                                <div class="icon">
                                    <i class='bx bx-user'></i>
                                </div>
                                <span>Client:</span>
                                <a href="https://envytheme.com/" target="_blank">EnvyTheme.com</a>
                                <a href="#" target="_blank">ThemeForest.com</a>
                            </li>
                            <li>
                                <div class="icon">
                                    <i class='bx bxs-map'></i>
                                </div>
                                <span>Location:</span>
                                New York, USA
                            </li>
                            <li>
                                <div class="icon">
                                    <i class='bx bx-purchase-tag'></i>
                                </div>
                                <span>Technologies:</span>
                                Organic, Food, Fruits
                            </li>
                            <li>
                                <div class="icon">
                                    <i class='bx bx-check'></i>
                                </div>
                                <span>Completed:</span>
                                28 April 2020
                            </li>
                            <li>
                                <div class="icon">
                                    <i class='bx bx-globe'></i>
                                </div>
                                <span>Website:</span>
                                <a href="https://envytheme.com/" target="_blank">EnvyTheme.com</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="related-gallery">
                <h5>Related Gallery</h5>

                <div class="row">
                    <div class="col-lg-4 col-md-6">
                        <div class="single-gallery-box">
                            <div class="gallery-image">
                                <a href="#"><img src="/img/gallery/gallery-3.jpg" alt="image"></a>
                            </div>

                            <div class="gallery-content">
                                <h3>
                                    <a href="#">Veterinary Research</a>
                                </h3>
                                <span>Cultivation</span>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6">
                        <div class="single-gallery-box">
                            <div class="gallery-image">
                                <a href="#"><img src="/img/gallery/gallery-4.jpg" alt="image"></a>
                            </div>

                            <div class="gallery-content">
                                <h3>
                                    <a href="#">Fresh Vegetables</a>
                                </h3>
                                <span>Agriculturist</span>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6">
                        <div class="single-gallery-box">
                            <div class="gallery-image">
                                <a href="#"><img src="/img/gallery/gallery-5.jpg" alt="image"></a>
                            </div>

                            <div class="gallery-content">
                                <h3>
                                    <a href="#">Fresh Strawberry</a>
                                </h3>
                                <span>Fresh Food</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End Gallery Details Area -->

<%- include('parts/footer') %>