<form action="shop-1" method="POST" class="product-cart" >
    <label class="d-none">
        <input type="hidden" class="visually-hidden" name="product_id" value="<%= `${product[i]._id}` %>">
    </label>
    <label class="m-0 p-0">
        <i class="flaticon-shopping-cart" data-id="<%= `${product[i]._id}` %>"></i>
    <button type="submit" class="d-none">
    </button>
    </label>
</form>