<%- include('parts/header') %>
<%- include('parts/navbar') %>
<!-- Start Page Banner -->
<div class="page-banner-area item-bg2 mb-4">
    <div class="d-table">
        <div class="d-table-cell">
            <div class="container">
                <div class="page-banner-content">
                    <h2>Pricing</h2>
                    <ul>
                        <li>
                            <a href="/">Home</a>
                        </li>
                        <li>Pricing</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Page Banner -->

<%- include('section/pricing-plan') %>
<%- include('parts/footer') %>