<%- include('parts/header') %>
<%- include('parts/navbar') %>

        <!-- Start Page Banner -->
        <div class="page-banner-area item-bg4">
            <div class="d-table">
                <div class="d-table-cell">
                    <div class="container">
                        <div class="page-banner-content">
                            <h2>Services Details</h2>
                            <ul>
                                <li>
                                    <a href="/">Home</a>
                                </li>
                                <li>Services Details</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Page Banner -->

        <!-- Start Services Details Area -->
        <section class="services-details-area pt-100 pb-70">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-md-12">
                        <div class="services-details-image">
                            <img src="/img/services-details.jpg" alt="image">
                        </div>

                        <div class="services-details-desc">
                            <h3>We Ensure To Provide 100% Organic Food</h3>
                            <p>Lorem ipsum dolor sit amet, consectetLorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>

                            <h3>Why we Provide Vegetables and Food</h3>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas accumsan lacus Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>

                            <div class="services-details-features">
                                <div class="features-text">
                                    <h4><i class='bx bx-check'></i> How can take our food</h4>
                                    <p>No fake products and services. The customer is king their lives and needs are the inspiration.</p>
                                </div>
                                <div class="features-text">
                                    <h4><i class='bx bx-check'></i> Why we success organic farming</h4>
                                    <p>No fake products and services. The customer is king their lives and needs are the inspiration.</p>
                                </div>
                                <div class="features-text">
                                    <h4><i class='bx bx-check'></i> History of our festival vegetables</h4>
                                    <p>No fake products and services. The customer is king their lives and needs are the inspiration.</p>
                                </div>
                                <div class="features-text">
                                    <h4><i class='bx bx-check'></i> Natural Fresh Tomato</h4>
                                    <p>No fake products and services. The customer is king their lives and needs are the inspiration.</p>
                                </div>
                            </div>

                            <div class="text-result">
                                <h3>Benefits of Services</h3>
                                <p>Surrounded by their possessions, pets, and a familiar environment, our clients receive the support they ned to enjoy their regular activities and continue living well at home.</p>
                            </div>

                            <div class="services-details-faq">
                                <ul class="accordion">
                                    <li class="accordion-item">
                                        <a class="accordion-title" href="javascript:void(0)">
                                            <i class='bx bx-plus'></i>
                                            Which Material Types Can You Work With?
                                        </a>
            
                                        <p class="accordion-content">
                                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida.
                                        </p>
                                    </li>
                                    
                                    <li class="accordion-item">
                                        <a class="accordion-title" href="javascript:void(0)">
                                            <i class='bx bx-plus'></i>
                                            Can I Have Multiple Activities In A Single Feature?
                                        </a>
            
                                        <p class="accordion-content">
                                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida.
                                        </p>
                                    </li>
            
                                    <li class="accordion-item">
                                        <a class="accordion-title" href="javascript:void(0)">
                                            <i class='bx bx-plus'></i>
                                            Why Choose Our Services In Your Business?
                                        </a>
            
                                        <p class="accordion-content">
                                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida.
                                        </p>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-12">
                        <div class="services-details-information">
                            <ul class="services-list">
                                <li><a href="#" class="active">Organic Vegetables</a></li>
                                <li><a href="#">Full Of Vitamins</a></li>
                                <li><a href="#">Fresh Milk & Meat</a></li>
                                <li><a href="#">Organic Seeds</a></li>
                                <li><a href="#">Organic Fruits</a></li>
                            </ul>

                            <div class="download-file">
                                <h3>Brochures</h3>

                                <ul>
                                    <li><a href="#">PDF Download <i class='bx bxs-file-pdf'></i></a></li>
                                    <li><a href="#">Services Details.txt <i class='bx bxs-file-txt'></i></a></li>
                                </ul>
                            </div>

                            <div class="services-contact-info">
                                <h3>Contact Info</h3>
                                
                                <ul>
                                    <li>
                                        <div class="icon">
                                            <i class='bx bx-user-pin'></i>
                                        </div>
                                        <span>Phone:</span>
                                        <a href="tel:+21453545413">+2145 354 5413</a>
                                    </li>
                                    <li>
                                        <div class="icon">
                                            <i class='bx bx-map'></i>
                                        </div>
                                        <span>Location:</span>
                                        New York, USA
                                    </li>
                                    <li>
                                        <div class="icon">
                                            <i class='bx bx-envelope'></i>
                                        </div>
                                        <span>Email:</span>
                                        <a href="mailto:hello@orgo.com">hello@orgo.com</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="related-services">
                    <h5>Related Services</h5>

                    <div class="row">
                        <div class="col-lg-3 col-md-6">
                            <div class="single-services-box">
                                <div class="icon">
                                    <i class="flaticon-apple"></i>
                                </div>
                                <h3>Natural Food</h3>
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit sed do eiusmod tempor incididunt.</p>
                                <a href="#" class="read-btn">Read More +</a>
                            </div>
                        </div>
    
                        <div class="col-lg-3 col-md-6">
                            <div class="single-services-box">
                                <div class="icon">
                                    <i class="flaticon-nature"></i>
                                </div>
                                <h3>Biologically Safe</h3>
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit sed do eiusmod tempor incididunt.</p>
                                <a href="#" class="read-btn">Read More +</a>
                            </div>
                        </div>
    
                        <div class="col-lg-3 col-md-6">
                            <div class="single-services-box">
                                <div class="icon">
                                    <i class="flaticon-forest"></i>
                                </div>
                                <h3>Biodiversity</h3>
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit sed do eiusmod tempor incididunt.</p>
                                <a href="#" class="read-btn">Read More +</a>
                            </div>
                        </div>
    
                        <div class="col-lg-3 col-md-6">
                            <div class="single-services-box">
                                <div class="icon">
                                    <i class="flaticon-organic"></i>
                                </div>
                                <h3>100% Organic</h3>
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit sed do eiusmod tempor incididunt.</p>
                                <a href="#" class="read-btn">Read More +</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Start Services Details Area -->

<%- include('parts/footer') %>