        <!-- Jquery Slim JS -->
        <script src="/js/jquery.min.js"></script>
        <!-- Popper JS -->
        <script src="/js/popper.min.js"></script>
        <!-- Bootstrap JS -->
        <script src="/js/bootstrap.min.js"></script>
        <!-- Meanmenu JS -->
        <script src="/js/jquery.meanmenu.js"></script>
        <!-- Nice Select JS -->
        <script src="/js/jquery.nice-select.min.js"></script>
        <!-- Owl Carousel JS -->
        <script src="/js/owl.carousel.min.js"></script>
        <!-- Magnific Popup JS -->
        <script src="/js/jquery.magnific-popup.min.js"></script>
        <!-- Odometer JS -->
        <script src="/js/odometer.min.js"></script>
        <!-- Jquery Appear JS -->
        <script src="/js/jquery.appear.min.js"></script>
        <!-- Ajaxchimp JS -->
        <script src="/js/jquery.ajaxchimp.min.js"></script>
        <!-- Form Validator JS -->
        <script src="/js/form-validator.min.js"></script>
        <!-- Contact JS -->
        <script src="/js/contact-form-script.js"></script>
        <!-- Wow JS -->
        <script src="/js/wow.min.js"></script>
        <!-- Custom JS -->
        <script src="/js/main.js"></script>
    </body>
    </html>
    