<% var title = title || "Orgo" %>
<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS --> 
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <!-- Animate CSS --> 
    <link rel="stylesheet" href="/css/animate.min.css">
    <!-- Meanmenu CSS -->
    <link rel="stylesheet" href="/css/meanmenu.css">
    <!-- Boxicons CSS -->
    <link rel="stylesheet" href="/css/boxicons.min.css">
    <!-- Flaticon CSS -->
    <link rel="stylesheet" href="/css/flaticon.css">
    <!-- Nice Select CSS -->
    <link rel="stylesheet" href="/css/nice-select.min.css">
    <!-- Owl Carousel CSS -->
    <link rel="stylesheet" href="/css/owl.carousel.min.css">
    <!-- Owl Carousel Default CSS -->
    <link rel="stylesheet" href="/css/owl.theme.default.min.css">
    <!-- Odometer CSS -->
    <link rel="stylesheet" href="/css/odometer.min.css">
    <!-- Magnific Popup CSS -->
    <link rel="stylesheet" href="/css/magnific-popup.min.css">
    <!-- Style CSS -->
    <link rel="stylesheet" href="/css/style.css">
    <!-- Responsive CSS -->
    <link rel="stylesheet" href="/css/responsive.css">
    
    <title><%= title %> </title>
    
    <link rel="icon" type="image/png" href="/img/favicon.png">
</head>

<body>
        <!-- Start Preloader Area -->
        <div class="preloader">
            <div class="preloader">
                <span></span>
                <span></span>
            </div>
        </div>
        <!-- End Preloader Area -->
        
        <!-- Start Top Header Area -->
        <div class="top-header-area">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-12">
                        <h1 class="text-center">Admin Panel</h1>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Top Header Area -->